/* CSS for Home  */

main > section:nth-child(1) {
  display: flex;
}

.section-header > h2 {
  color: var(--accent);
}

.down-arrow {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 8rem;
}

.panels {
  display: flex;
  flex-direction: column;
}

.panels > div {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 2rem;
  margin: 15px 0;
}

.panels > div > h3 {
  color: var(--accent);
}

.panels > div > a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

.panels > div > a > span {
  color: var(--accent);
  font-size: 20px;
}

.divider-line { 
  display: none; 
}

@media (min-width: 1024px) {
  
  main > section:nth-child(1) {
    justify-content: space-around;
  }

  main > section:nth-child(1) h1 {
    font-size: 64px;
  }

  main > section:nth-child(1) p {
    font-size: 24px;
    font-style: italic;
  }

  main > section:nth-child(3) {
    background-color: #f5f5f5;
    padding-top: 2rem;
    padding-bottom: 15rem;
  }

  .section-header {
    max-width: 1260px;
    margin: 0 auto;
  }

  .section-header > h2 {
    font-size: 36px;
  }

  .section-header > p {
    font-size: 16px;
  }

  .panels {
    flex-direction: row;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem;
    background-color: #fff;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .panels > div {
    box-shadow: none;
    border-radius: 0;
  }

  .panels > div > h3 {
    color: inherit;
  }

  .panels > div > p {
    font-size: 18px;
  }

  .divider-line {
    display: inline;
  }

}
