/* Mobile First Design */

/* Import Source Sans Pro font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');

:root {
  --main: #6E90A0;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  /* outline: 1px red solid; */
}

.arrow {
  text-align: center;
  color: var(--main);
  font-size: 100px;
}

.arrow > p {
  margin: 0;
}

body {
  color: #232E33;
  font-size: 8vw;
}

.bottom-section h1 {
  text-align: center;
}

.about-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.about-cards {
  padding: 1rem;
}

.cards {
  padding: 1rem;
}

.card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.close-menu-btn-container {
  padding: 1rem 0;
  text-align: center;
}

.close-menu-btn {
  padding: 1rem;
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 8vw;
}

footer {
  text-align: center;
  padding: 1rem 0;
  padding-bottom: 5rem;
}

footer > a {
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

.menu-btn-container {
  margin: 1rem 0;
}

.menu-btn {
  display: block;
  padding: 1rem;
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 8vw;
}

.nav-container {
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1rem;
}

nav {
  padding: 1rem;
}

nav > a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: var(--main);
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem;
}

.noscroll {
  overflow: hidden;
}

.project {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 3rem;
}

.project > img {
  display: inline;
  width: 550px;
}

.portfolio-link {
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-decoration: transparent;
  background-color: var(--main);
  color: #fff;
  transition: all 0.2s;
}

.portfolio-link:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 3rem;
}

.team-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 5rem;
}

.team-card-heading > * {
  margin: 0;
  padding: 0;
}

.team-card > img {
  border-radius: 50%;
}

.team-card-heading-text > h2 {
  margin: 0;
  padding: 0;
}

.team-card-heading-text > p {
  padding: 0;
  margin: 0;
  font-style: italic;
}

a {
  color: inherit;
}



@media (min-width: 1000px) {

  body {
    font-size: 2vw;
  }
  
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header, main, footer {
    max-width: 1300px;
    margin: 0 auto;
  }

  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
  
  .about-cards {
    display: flex;
    flex-direction: column;
  }

  .about-cards > * {
    flex: 1;
  }

  .close-menu-btn-container, .menu-btn-container {
    display: none;
  }

  .nav-container {
    background-color: inherit;
    color: inherit;
    display: block !important;
    overflow: auto;
    position: static;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav > a, footer > a {
    background-color: inherit;
    color: inherit;
    text-decoration: transparent;
    transition: all 0.2s;
  }

  nav > a:hover, footer > a:hover {
    text-decoration: underline;
  }

  .page-heading-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .team-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-card-desc {
    padding-left: 3rem;
  }

  .team-card > img {
    width: 400px;
    object-fit: cover;
  }

  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
