* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #171717;
  color: #fff;
}

.wrapper {

}

header {
  position: relative;
}

nav {
  position: absolute;
  right: 0;
  padding: 3rem;
}

nav > a {
  text-decoration: none;
  color: inherit;
  margin-right: 3rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}