/* CSS for Work */

.tabs-container {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-top: none;
}

.tab-header {
  display: flex;
}

.tabs {
  border: 1px solid #E5E5E5;
  border-bottom: none;
  padding: 2rem;
  margin: 0;
  border-radius: 20px 20px 0 0;
  text-align: center;
  background-color: #cfcfcf;
  color: var(--accent);
  cursor: pointer;
  user-select: none;
}

#tab1-btn {
  border-left: none;
}

#tab2-btn {
  border-right: none;
}

.tab-selected {
  background-color: #fff;
}

.tab-content {
  padding: 3rem;
}

.tab2 {
  display: none;
}

@media (min-width: 1024px) {
  .tabs {
    font-size: 35px;
    width: 520px;
  }
  .tabs-container {
    max-width: 1040px;
    margin: 0 auto;
  }

  .tab-content {
    padding: 5rem;
  }
}
