/* CSS for Work */

main > section:nth-child(1) > div {
  display: flex;
}

main > section:nth-child(1) > div h3 {
  color: var(--accent);
}

.tab-header {
  /* TODO: NEED TO FIXXX SPCING WHEN DOING LANDSCAPE MOBILE */
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tabs {
  color: var(--accent);
  box-shadow: 0px -20px 15px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  background-color: #f5f5f5;
  box-shadow: none;
}

.tab-selected {
  box-shadow: 0px -20px 15px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.tab-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 0px 20px 20px 20px;
  margin-top: -35px;
}


@media (min-width: 1024px) {
  
  main > section:nth-child(1) > h1 {
    font-size: 64px;
  }
}
